#content {
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

body {
    font: helvetica, arial, sans-serif;
    font-size: 100%;
    line-height: 1.125em;
}

.bodytext p {
    font-size: 0.875em;
}

.sidenote {
    font-size: 0.75em;
}


h1, h2, h3, h4, h5 {
  text-align: center;
}

img {
  border: none;
}

#logo {
  width: 28px;
  margin-left: auto;
  margin-right: auto;
}

#copyright {
  font-size: 75%;
  text-align: center;
}